/* game board table */

#board td {
  width: 40px;
  height: 50px;
  border: solid 1px #666;
}

#game-board {
  width: 50vw;
  height: 50vw;
  /* border: 3px solid black; */
}

/* pieces are div within game table cells: draw as colored circles */

#tile {
  /* margin: 5px; */
  display:inline-block;
  width: 18%;
  height: 5vw;
  border: 1px solid black;
}


#tile.hidden:hover {
  background-color: #666;
}

