.cell {
  width: 70px;
  height:70px;
  border: 1px solid black;
}

.cell.black{
  width: 70px;
  height:70px;
  border: 1px solid black;
  background-color: black ;
}

.piece.blue {
  width: 70px;
  height:70px;
  border: 1px solid black;
  background-color: navy;
  border-radius: 50%;
}

.piece.red {
  width: 70px;
  height:70px;
  border: 1px solid black;
  background-color: maroon;
  border-radius: 50%;
}